---
import { Icon } from 'astro-icon/components';
---

<ul>
    <li><Icon name="Analytics" size="40" title="Google Analytics 4 - The latest version of Google's web analytics platform" /><strong>Google Analytics 4</strong></li>
    <li><Icon name="TagManager" size="40" title="Google Tag Manager - A tag management system that allows you to easily add and manage tracking scripts on your website" /><strong>Google Tag Manager</strong></li>
    <li><Icon name="BigQuery" size="40" title="BigQuery - A fast, fully managed data warehouse for analytics" /><strong>BigQuery</strong></li>
    <li><Icon name="Looker" size="40" title="Looker Studio - A powerful data visualization tool for creating custom dashboards" /><strong>Looker Studio</strong></li>
    <li><Icon name="Tableau" size="40" title="Tableau - A leading data visualization software for creating interactive dashboards" /><strong>Tableau</strong></li>
    <li><Icon name="PowerBI" size="40" title="Power BI - Microsoft's business analytics service for creating reports and dashboards" /><strong>Power BI</strong></li>
</ul>

<style>
    ul {
		display: flex;
        flex-wrap: wrap;
		/* flex-direction: column; */
		justify-content: center;
		gap: 3em;
		list-style-type: none;
		padding-left: 0;
        margin-top: 2em;
	}

	ul li {
		/* min-width: 180px; */
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	ul li strong {
		padding-top: 1em;
	}

    @media screen and (min-width: 768px) {
        ul {
			flex-direction: row;
            gap: 4em;
		}
    }
</style>