---
import { Image } from 'astro:assets';
import webAnalyticsImage from '../assets/web-analytics-image.png';
import NavBar from './NavBar.astro';
import ContactForm from './ContactForm.astro';
---

<div id="container">
	<main>
		<NavBar />
		<div class="content">
			<section id="hero">
				<div class="content-block">
					<h1>Stop Guessing. Start Measuring</h1>
					<h2>
						Dave Morison - Data and Web Analytics Consulting
					</h2>
					<p>Technical Digital Analytics for companies that need developer-grade data integrity.</p>
					<a class="button" href="/dave-morison/#contact">Book a Data Audit</a>
				</div>
				<div class="content-block">
					<Image src={webAnalyticsImage} alt="Google Analytics dashboard" width={500} />
				</div>
			</section>
			<section id="pitch">
				<h3>Technical Edge</h3>
				<div class="cards-wrapper">
					<div class="card card-one">
						<p>I'll take care of the technical implementation, helping you make strategic business decisions based on accurate data.</p>
						<p>With a background in web development and a passion for data, I bridge the gap between technical implementation and business insights.</p>
					</div>
					<div class="card">
						<div class="card-inner">
							<div>
								<h4>Clean Data</h4>
								<p>I write custom scripts to get the data you need, ensuring accuracy and reliability.</p>
							</div>
							<Image src={webAnalyticsImage} alt="Google Analytics dashboard" width={300} />
						</div>
					</div>
					<div class="card">
						<div class="card-inner">
							<div>
								<h4>Performance</h4>
								<p>I implement lean tagging, so that tracking doesn't affect your website's performance.</p>
							</div>
							<Image src={webAnalyticsImage} alt="Google Analytics dashboard" width={300} />
						</div>
					</div>
				</div>
			</section>
			<section id="services">
				<h3>Services</h3>
				<div class="cards-wrapper">
					<div class="card">
						<h4>The Foundation</h4>
						<p><strong>GA4 and GTM setup from scratch</strong></p>
						<ul>
							<li>Install GTM and configure GA4</li>
							<li>Create one "source of truth" dashboard</li>
						</ul>
					</div>
					<div class="card">
						<h4>The Tracking Rescue</h4>
						<p><strong>Technical audit - clean up and optimise</strong></p>
						<ul>
							<li>Audit current scripts</li>
							<li>Find duplicate tags</li>
							<li>Fix broken event triggers</li>
						</ul>
					</div>
					<div class="card">
						<h4>The Custom Framework</h4>
						<p><strong>Create a reusable GTM Data Layer for more complex tracking</strong></p>
						<ul>
							<li>Set up the Data Layer</li>
							<li>Configure custom variables and triggers</li>
							<li>Implement reusable tracking logic</li>
						</ul>
					</div>
					<div class="card">
						<h4>The Visualization</h4>
						<p><strong>Custom dashboards</strong></p>
						<ul>
							<li>Looker Studio</li>
							<li>Tableau</li>
							<li>Power BI</li>
						</ul>
					</div>
				</div>
			</section>
			<section id="tech">
				<h3>Tech Stack</h3>
				<ul>
					<li><strong>Google Analytics 4</strong> - The latest version of Google's web analytics platform.</li>
					<li><strong>Google Tag Manager</strong> - A tag management system that allows you to easily add and manage tracking scripts on your website.</li>
					<li><strong>BigQuery</strong> - A fast, fully managed data warehouse for analytics.</li>
					<li><strong>Looker Studio</strong> - A powerful data visualization tool for creating custom dashboards.</li>
					<li><strong>Tableau</strong> - A leading data visualization software for creating interactive dashboards.</li>
					<li><strong>Power BI</strong> - Microsoft's business analytics service for creating reports and dashboards.</li>
				</ul>
			</section>
		</div>
		<section id="contact">
			<div class="contact-inner">
				<h3>Contact</h3>
				<ContactForm />
			</div>
			
			<!-- <div class="main-section">
				<div class="inner-wrapper">
					
					
				</div>
			</div> -->
		</section>
	</main>
</div>

<style>
	#container {
		font-family: var(--font-montserrat), Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		color: #012C3C;
	}

	.content {
		height: 100%;
		background: linear-gradient(to bottom, #9BC0DA, #ffffff);
	}

	section {
		padding: 2em;
	}

	.content-block {
		display:flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	#hero p {
		font-size: 18px;
	}

	#pitch .section-inner {
		display: flex;
		flex-direction: row;
		gap: 4em;
	}

	#pitch .section-inner > div {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.inner-wrapper {
		width: 100%;
		margin-bottom: 1em;
	}

	#pitch {
		/* background-color: #a5e1de; */
	}

	#services {
		/* background-color: #9ac7a6; */
	}

	#services .card {
		background-color: #ffffff;
	}

	/* #services .main-section {
		flex-direction: column-reverse;
	} */

	#tech {
		/* background-color: blanchedalmond; */
	}

	#contact{
		display: flex;
		justify-content: center;
		background-color: #1B5B7E;
		color: #E8F5FD;
	}

	.contact-inner {
		display: flex;
		/* align-items: center; */
		flex-direction: column;
		justify-content: space-around;
		padding: 1em;
	}

	h1 {
		font-size: 38px;
		margin-bottom: 0.5em;
	}

	h2 {
		/* margin: 0 0 1em; */
		font-weight: normal;
		font-size: 24px;
	}

	h3, h4 {
		margin-top: 0;
	}

	p {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	ul {
		padding-left: 1em;
	}

	.cards-wrapper {
		display: flex;
		flex-direction: row;
		gap: 2em;
		margin: 1em 0;
	}

	.card {
		flex: 1;
		background-color: #E8F5FD;
		padding: 1em;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	.card-inner {
		display: flex;
		flex-direction: row;
	}

	.card-inner > div {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.card-one {
		max-width: 300px;
		background-color: transparent;
		padding-left: 0;
		box-shadow: none;
	}
	.card-one p {
		margin-bottom: 1em;
	}

	.button {
		display: block;
		width: 200px;
		margin-top: 2em;
		padding: 1em;
		background-color: #1B5B7E;
		color: #ffffff;
		font-weight: bold;
		text-decoration: none;
		border-radius: 2em;
		font-size: 16px;
		border: none;
		transition: background-color 300ms ease, color 300ms ease;
	}

	.button:hover {
		background-color: #ffffff;
		color: #1B5B7E;
	}

	@media screen and (min-width: 768px) {
		section {
			padding: 4em;
		}

		h1 {
			font-size: 58px;
			margin-bottom: 0.2em;
		}

		h2 {
			font-weight: normal;
			font-size: 38px;
			margin-top: 0.2em;
			margin-bottom: 0.3em;
		}

		p {
			font-size: 16px;
			line-height: 24px;
			letter-spacing: -0.006em;
			margin: 0;
		}

		#hero p {
			font-size: 20px;
		}

		.main-section {
			flex-direction: row;
			padding: 2em 0;
		}

		/* #services .main-section {
			flex-direction: row;
		} */

		.inner-wrapper {
			width: auto;
		}

		.contact-inner {
			width: 500px;
		}
	}
</style>

