---
import { google_tag_manager } from '@/config/config.json';
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src={`https://www.googletagmanager.com/gtag/js?id=${google_tag_manager.gtm_id}`}></script>
		<script type="text/partytown" define:vars={{ google_tag_manager }}>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', google_tag_manager.gtm_id);
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Dave Morison</title>
	</head>
	<body>
		<slot />
		<script src="https://web3forms.com/client/script.js" async defer></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
